<ion-view view-title="Law">
    <ion-content class="padding">
        <ul>

            <li><b>Who</b> is the officer you're filing a complaint against? Name or badge number?</li>

            <li><b> What</b> the officer said or did? Was he rude, abusive or used excessive force?</li>

            <li><b>When</b> did it happen? Date and time.</li>

            <li><b>Where</b> did it occur? Location.</li>

            <li><b>How</b> or <b>why</b> did the incident occur? </li>

            <li>Only included corroborating witnesses' signed separate accounts.</li>

            <li>Include any type of evidence</li>

            <li>Mail certified with receipt to station.</li>

            <li>Don't answer any questions or go down to police station before, while, or after mailing complaint. </li>

            <li>Be completely truthful  in compliant. </li>

        </ul>

    </ion-content>
</ion-view>